div {
  background-color: #f0f0f0;
}

.piet-interpreter-panel {
  position: absolute;
  width: 400px; height: 400px;

  font-family: sans-serif;
  background-color: #f8f8f8;
}
  .piet-interpreter-panel div {position: absolute;}
  .piet-interpreter-panel label {font-size: 16px;}

/**
 * Panel containing the Color Palette
 * and the table of commands
 */
.left-panel {
  width: 200px; height: 600px;

  overflow: hidden;
}
  .color-picker {
    left: 10px; top: 10px;
  }
    .color-picker button {
      width: 60px; height: 30px;

      vertical-align: middle;
    }
    .color-picker button.misc-color {
      width: 90px;
    }

  .command-picker {
    left: 10px; top: 220px;
  }
    .command-picker table {
      font-family: Arial;
      font-size: 11px;

      overflow: hidden;
    }

/**
 * Panel containing the canvas' settings, in- and output
 * and the control elements for running the interpreter
 */
.top-panel {
  left: 0; top: 0;
  width: 800px; height: 200px;
  left: 210px;

  font-family: sans-serif;
}
  .settings-panel {
    left: 10px ;top: 10px;
    width: 180px; height: 180px;

    background-color: #e0e0e0;
  }
    .settings-panel p {
      margin: 10px 0;
    }
    .settings-panel label {
      width: 90px;
      margin-left: 10px;
    }
    .settings-panel input {
      position: absolute;
      left: 100px;

      width: 66px;
    }

  .io-panel {
    left: 200px; top: 10px;

    width: 280px; height: 180px;

    padding: 0 10px;

    background-color: #e0e0e0;
  }
    .io-panel p {
      margin: 10px 0;
    }

    .input-panel {
      left: 10px; top: 10px;
      background-color: #d0d0d0;
    }
    .output-panel {
      left: 10px; top: 59px;
      background-color: #d0d0d0;
    }
      .input-panel input {
        position: absolute;
        top: 18px;
        width: 276px;
      }
      .output-panel textarea {
        position: absolute;
        top: 18px;
        width: 274px; height: 87px;
      }

  .execution-panel {
    left: 510px; top: 10px;

    width: 280px; height: 180px;

    background-color: #e0e0e0;
  }
    .execution-panel table {
      position: absolute;
      left: 10px; top: 10px;
      text-align: center;
    }
      .execution-panel table img {
        width: 32px; height: 32px;

        opacity: 0.8;

        cursor: pointer;
      }
      .execution-panel table img:hover {
        opacity: 1;
      }
      .execution-panel table img:active {
        transform: scale(0.9);
      }

    .stack-panel {
      position: absolute;
      left: 130px; top: 10px;

      width: 140px; height: 160px;
      background-color: #d0d0d0;
    }
      .stack-panel textarea {
        position: absolute;
        left: 0; top: 18px;

        width: 134px; height: 136px;
      }

canvas#program, canvas#program-grid {
  position: absolute;
  z-index: 1;

  top: 210px;
  left: 210px;

  border: 1px solid #a0a0a0;
}
